@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


       .body{
        background-color:#eee;
        font-family:-apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
        font-weight: 300;
       }

       .searchContainer {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        height: 80vh;
        
       }

       .height{
        height: 50vh;
       }
       

       .search{
       position: relative;
       box-shadow: 0 0 40px rgba(51, 51, 51, .1);
       color: rgb(107, 55, 250);
         
       }

       .searchInput{
        height: 60px;
        text-indent: 25px;
        width: 500px;
       }


       .search .faSearch{
        position: absolute;
        top: 20px;
        left: 16px;
       }

       .searchButton{
        position: absolute;
        background: #d90492;
        border: 5px;
       }

       .buttonContainer {
              align-items: center;
              justify-content: right;
              display: flex;
              height: 10vh;
       }

       .logo {
              width: 200px;
              height: 250px;
       }

       .logoContainer {
              align-items: center;
       }

       @media screen and (max-width : 700px) {
              .searchInput{
                     width: 300px;
              }
              .logoContainer{
                     padding-bottom: 20px;
                     align-items: center;
                     justify-content: center;
              }

              .logo {
                     width: 150px;
                     height: 180px;
              }

       }